.scene {
  width: 960px;
  height: 240px;
  perspective: 960px;
}

.preserve {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.layer {
  position: absolute;
  width: 960px;
  height: 360px;
}

.z1 { transform: translateZ(360px) rotateX(80deg) rotateZ(30deg) translateZ(-100px); }
.z2 { transform: translateZ(360px) rotateX(80deg) rotateZ(30deg) translateZ(-200px); }
.z3 { transform: translateZ(360px) rotateX(80deg) rotateZ(30deg) translateZ(-300px); }
.z4 { transform: translateZ(360px) rotateX(80deg) rotateZ(30deg) translateZ(-400px); }
.z5 { transform: translateZ(360px) rotateX(80deg) rotateZ(30deg) translateZ(-500px); }
.z6 { transform: translateZ(360px) rotateX(80deg) rotateZ(30deg) translateZ(-600px); }
