.scene {
  width: 960px;
  height: 160px;
  perspective: 1600px;
}

.preserve {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.layer {
  position: absolute;
  width: 960px;
  height: 960px;
}

.z0 { transform: rotateX(80deg) rotateZ(130deg) translateZ(-200px); }
.z1 { transform: rotateX(80deg) rotateZ(130deg) translateZ(-180px); }
.z2 { transform: rotateX(80deg) rotateZ(130deg) translateZ(-160px); }
.z3 { transform: rotateX(80deg) rotateZ(130deg) translateZ(-140px); }
.z4 { transform: rotateX(80deg) rotateZ(130deg) translateZ(-120px); }
.z5 { transform: rotateX(80deg) rotateZ(130deg) translateZ(-100px); }
.z6 { transform: rotateX(80deg) rotateZ(130deg) translateZ(-080px); }
.z7 { transform: rotateX(80deg) rotateZ(130deg) translateZ(-060px); }
.z8 { transform: rotateX(80deg) rotateZ(130deg) translateZ(-040px); }
.z9 { transform: rotateX(80deg) rotateZ(130deg) translateZ(-020px); }
